body{
  background: rgb(0, 185,255);

}

header{
  background: rgb(30, 144, 255);
  display: flex;
  align-items: center;
}

section{
  border-top: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  min-height: 30vh;
}

footer{
  background: rgb(70,130, 180);
}

#section01{
  background: url('images/bg_image01.jpg') no-repeat top center;
  background-size: cover;
  background-attachment: fixed;
min-height: 80vh;
display: flex;
align-items: center;
justify-content: center;
}

#section01 h1 {
  color: yellow;
  font-size: 8em;
  text-align: center;
  margin-bottom: 0;
}

nav{
  width: 100%;
}


nav ul{
  display: flex;
  justify-content: space-around;

}

nav a{
  background: rgb(255, 255, 255);
  padding: 1em
}

figure{
  border: 1px solid rgb(0, 0, 0);
  padding: 1em;
  margin: 12px;
  flex-basis: 420px
}

.inner-content {
  background: rgb(255, 255, 255);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  min-height: 100vh
}

#section02 {
  min-height: 100vh

}
